streamlit==1.30.0
python-dotenv==1.0.0
google-auth==2.26.0
google-auth-oauthlib==1.2.0
PyGithub==2.1.1
huggingface-hub==0.20.0
plotly==5.18.0
pandas==2.1.4
streamlit-extras==0.3.6
firebase-admin==6.5.0
pyrebase4==4.8.0
